<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="cn.test.productflavors">

    <application>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="WANDOUJIA"/>
    </application>

</manifest>